<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Repository</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Historical Document Repository</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('app_views.index') }}">Home</a></li>
                <li><a href="{{ url_for('app_views.upload') }}">Upload Document</a></li>
                <li><a href="{{ url_for('app_views.search') }}">Search Document</a></li>

                {% if document is defined %}
                    <li><a href="{{ url_for('app_views.delete_document', document_id=document.id) }}">Delete</a></li>
                {% endif %}
                {% if document %}
                    <li><a href="{{ url_for('app_views.edit_document', document_id=document.id) }}">Edit Document</a></li>
                 {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
