<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Repository</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="page_header" id="header"> <!-- Added class "page_header" and ID "header" -->
        <h1>Historical Document Repository</h1>
        <nav class="main_nav" id="main_nav"> <!-- Added class "main_nav" and ID "main_nav" --> 
            <ul>
                <li><a href="{{ url_for('app_views.index') }}">Home</a></li>
                <li><a href="{{ url_for('app_views.upload') }}">Upload Document</a></li>
                <li><a href="{{ url_for('app_views.search') }}">Search Document</a></li>

                {% if document is defined %}
                    <li><a href="{{ url_for('app_views.delete_document', document_id=document.id) }}">Delete</a></li>
                {% endif %}
                {% if document %}
                    <li><a href="{{ url_for('app_views.edit_document', document_id=document.id) }}">Edit Document</a></li>
                 {% endif %}

            </ul>
        </nav>
    </header>
    {% block content %}
    <main class="main_content" id="main_content">
        <div class="header_wrapper">
            <h2 class="content_header">Trending Articles</h2>
        </div>
        <div class="card_container">
            <div class="card">
                <img src="https://cdn11.bigcommerce.com/s-xtgwxmwcif/images/stencil/640x800/products/15821/38104/1__57229.1710431322.jpg?c=1">
                <div class="card_content">
                    <h3>Card 1</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam numquam distinctio, libero reprehenderit, eos repudiandae porro aspernatur delectus natus officia odit recusandae. Modi quos molestiae nisi non explicabo neque asperiores?</p>
                    <a href="" class="btn">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn11.bigcommerce.com/s-xtgwxmwcif/images/stencil/640x800/products/15821/38104/1__57229.1710431322.jpg?c=1">
                <div class="card_content">
                    <h3>Card 2</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam numquam distinctio, libero reprehenderit, eos repudiandae porro aspernatur delectus natus officia odit recusandae. Modi quos molestiae nisi non explicabo neque asperiores?</p>
                    <a href="" class="btn">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn11.bigcommerce.com/s-xtgwxmwcif/images/stencil/640x800/products/15821/38104/1__57229.1710431322.jpg?c=1">
                <div class="card_content">
                    <h3>Card 3</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam numquam distinctio, libero reprehenderit, eos repudiandae porro aspernatur delectus natus officia odit recusandae. Modi quos molestiae nisi non explicabo neque asperiores?</p>
                    <a href="" class="btn">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn11.bigcommerce.com/s-xtgwxmwcif/images/stencil/640x800/products/15821/38104/1__57229.1710431322.jpg?c=1">
                <div class="card_content">
                    <h3>Card 3</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam numquam distinctio, libero reprehenderit, eos repudiandae porro aspernatur delectus natus officia odit recusandae. Modi quos molestiae nisi non explicabo neque asperiores?</p>
                    <a href="" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}

  
</body>
</html>
