{% extends "base.html" %}
{% block content %}
<div class="detail_wrapper">
    <section class="doc_details">
        <div class="details_wrapper">
            <h2 class="details_title">Title: {{ document.title }}</h2>
            <p class="details_info">Author: {{ document.author }}</p>
            <p class="details_info">Date: {{ document.date }}</p>
            <a href="{{ url_for('app_views.download_document', document_id=document.id) }}" class="details_link" download>Download</a>
        </div>
    </section>
</div>
{% endblock %}
