{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="div register_background">
    <div class="register-container">
        <h1>Register</h1>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(size=32) }}
                {% for error in form.confirm_password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.role.label }}
                {{ form.role() }}
            </div>
            <div class="form-group">
                <button type="submit" class="register-btn">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
